/* color scheme: 
#1a1207
#515257
#2d3a43
#ebe2d9
#807f7d */

html {
    background: url(images/adventure-background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

body {
    font-family: 'Open Sans', sans-serif;
    
}

header {
    text-align: center;
    margin: 10px;
}

h1, h2{
    font-family: 'Niramit', sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 15px;
}

h2 {
    font-size: 2em;
    /* font-weight: bold; */
    margin-bottom: 12px;
}

p {
    line-height: 1.2em;
}

form {
    margin-bottom: 0;
}

form > input{
    display: block;
    border: none;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 1em;
    padding: 5px;
    width: 100%;
}

label {
    color: #1A1207;
}

input[type="submit"] {
    background-color: #1A1207;
    margin-bottom: 0;
    color: #EBE2D9;
}

input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
    background-color: #807f7d;
}

h3{
    font-size: 1.5em;
    margin-bottom: 12px;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#js-results > section, #small-results, .error {
    /* background-color: #2D3A43; */
    background-color: rgba(45, 58, 67, 0.95);
    color: #EBE2D9;
}

#input-form {
    /* background-color: #EBE2D9; */
    background-color: rgba(255, 255, 255, 0.4);
    /* background-color: rgba(0,0,0, 0.2); */
}

.preview {
    margin-top: 10px;
    text-align: center;
}

#js-results > section, #small-results, #input-form, .error {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

#small-results > section {
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.visa-link {
    color: white;
}

.visa-link:visited {
    color: #807f7d;
}

.visa-link:hover, .visa-link:active, .visa-link:focus {
    color: #EBE2D9;
    text-decoration: none;
}

.forecast-result{
    margin-bottom: 10px;
    margin-top: 10px;
}

.weather-results > li {
    margin-top: 5px;
    line-height: 1.2em;
}

.weather-icon {
    background: white;
    border-radius: 5px;
    padding: 10px;
}
.venue-result {
    background-color: #EBE2D9;
    color: #2D3A43;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.venue-result > p {
    line-height: 1.2em;
}

.info-source {
    text-align: right;
}

.search-container {
    margin: 10px 10px 0;
}
.search-result {
    margin-top: 20px;
    margin-bottom: 15px;
}

.content {
    position: relative;
    max-width: 320px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay{
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
    opacity: 1;
}

.content:focus-within .content-overlay{
    opacity: 1;
    border: 2px solid lightblue;
}

.trigger {
    background: none;
    border: none;
    padding: 0;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details, .content:focus-within .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.result-title{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.fadeIn-top{
    top: 20%;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: absolute;
    padding: 1em 1.5em;
    background-color: none;
    border-radius: 1em;
}

/* .video-player {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}
  
  .video-player iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
}
  .iframe-container-4x3 {
    padding-top: 75%;
} */

.close-button {
    border: none;
    padding: 0 0.2em;
    float: right;
    font-size: 2em;
    background: none;
    color: white;
}

.close-button:hover, .close-button:active, .close-button:focus {
    color: #807F7D;
    font-weight: bolder;
}

.show-modal {
    visibility: visible;
}

@media only screen and (max-width: 360px){
    .trigger {
        width: 100%;
    }
}

@media only screen and (min-width: 300px){
    #place-search {
        width: 260px;
        margin: 10px auto;
    }
}

@media only screen and (min-width: 370px){
    .forecast-container {
        display: flex;
        flex-wrap: wrap;
        margin-right: -10px;
    }
    
    .forecast-result{
        max-width: 155px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 600px){
    .venue-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .venue-result{
        max-width: 300px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 700px){
    .search-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-right: -10px;
    }

    .search-result{
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1200px){
    body {
        max-width: 1200px;
        margin: 0 auto;
    }
}